{% extends "base.html" %}
{% block title %} Page Not Found {% endblock %}

{% block header %} 
  <nav class="navbar" style="background-color: #468ac6;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 text-light" style="font-family: 'Oswald', sans-serif; font-size: 25px;font-weight: 500;">OCEAN PEST AND DISEASE BIOSECURITY GUIDE</span>
    </div>
  </nav>    
{% endblock %}


{% block content %}


<div class="container-fluid" style="background-image: url('/static/img/iStock-1400881310.jpg'); height: 100%; width: 100%; position: fixed; background-position: center center; background-size: 100% 100%; display: block;">

  <div class="container-md" >

    <div style="padding-top:50px;">
        <h4 style="color:#E94629 !important"><i class="fa-solid fa-circle-exclamation"></i> Whoops... </h4>
        <h4 style="color:#E94629 !important">Something is wrong here. </h4>
        <h4 style="color:#E94629 !important">The page you were looking for cannot be found.</h4>
    </div>

    <div style="padding-top:30px;">
      <a href="{{ url_for('login') }}" role="button" class="btn btn-info text-light">
        <h5 style="color:white !important"><i class="fa-solid fa-ship"></i> Click Me To Return To Home</h5>
      </a>
    </div> 
  
  </div>

</div>


{% endblock %}