{% extends "base1.html" %}
{% block title %} Register New Staff {% endblock %}

{% block content %}

<div id="main-body" class="container-md"> 

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-user-plus"></i> New Staff</h4>
        <hr class="border-secondary border-2">
        
    <form action="{{ url_for('addStaff')}}" method="post" class="row g-3 pb-3">
        <div class="col-sm-6">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>
        <div class="col-sm-6">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required>
        </div>
        <div class="col-sm-6">
          <label for="department" class="form-label">Department</label>
          <input type="text" id="department" name="department" class="form-control" required>
      </div>
      <div class="col-sm-6">
          <label for="position" class="form-label">Position</label>
          <input type="text" id="position" name="position" class="form-control" required>
      </div> 
        <div class="col-sm-6">
          <label for="work_phone" class="form-label">Work phone</label>
          <input type="text" id="work_phone" name="work_phone" class="form-control" required>
        </div>
        <div class="col-sm-6">
          <label for="hire_date" class="form-label">Hire date</label>
          <input type="date" id="hire_date" name="hire_date" class="form-control" required>
        </div>
        <div class="col-sm-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" name="email" class="form-control" required>
        </div> 

        <div class="col-sm-12">
          <label for="username" class="form-label">Login username</label>
          <p class="text-muted"><small><i>Minimum 4 characters. Username cannot be changed later. Pleas choose one carefully.</i></small></p>
          <input type="text" class="form-control" name="username" required>
        </div>

        <div class="col-sm-12">
          <label for="password" class="form-label">Login password</label>
          <p class="text-muted"><small><i>Minimum 8 characters. It must contain at least one uppercase (A-Z), one lowercase (a-z), one number (0-9) and one special character (e.g. #, $, !, @, ^, &, *, etc).</i></small></p>
          <input type="password" class="form-control" id="setStaffpassword" name="setStaffpassword" oninput="checkPasswordWhenAddingStaff()" required>
        </div> 

        <div class="col-sm-12">
          <label for="password" class="form-label">Confirm login password</label>
          <input type="password" class="form-control" id="setStaffpassword1" name="setStaffpassword1" oninput="checkPasswordWhenAddingStaff()" required>
        </div> 

        <div class="col-sm-12" style="margin-top: 0;">
          <span id="messageWhenAddingStaff"></span>
        </div>
    
        <div class="d-grid gap-2 col-sm-6">
          <button type="submit" id="to_be_activated_addstaff" class="btn btn-info text-light" disabled>Add</button>
        </div>
        
        <div class="d-grid gap-2 col-sm-6">
          <a href="{{ url_for('staffList') }}" role="button" class="btn btn-secondary">Cancel</a>
        </div>        
    </form> 
</div>
{% endblock %}