{% extends "base1.html" %}
{% block title %} {{ guide[0]}} {% endblock %}

{% block content %}   

<div class="container-sm"> 
    
    {% if guide[2] == 'pest' and guide[3] == 'yes' %}
    <style> body{background-color: #f6c986;} </style>
    {% elif guide[2] == 'disease' and guide[3] == 'yes' %}
        <style> body{background-color: #dfb4b4;} </style>
    {% elif guide[2] == 'pest' and guide[3] == 'no' %}
        <style> body{background-color: #d6c876;} </style>
    {% elif guide[2] == 'disease' and guide[3] == 'no' %}
        <style> body{background-color: #B391DD;} </style>
    {% else %}
        <style> body{background-color: white; color: black} </style>
    {% endif %}  

    <h4 class="offcanvas-title pt-3"><i class="bi bi-substack"></i> {{ guide[0]}}
        {% if user_role == 'admin' %} 
            <a href="/admin/guide/edit/{{ ocean_id }}" style="color: #468AC6;"><i class="fa-solid fa-pencil"></i></a>
            {% elif user_role == 'staff' %}
            <a href="/staff/guide/edit/{{ ocean_id }}" style="color: #468AC6;"><i class="fa-solid fa-pencil"></i></a>    
        {% endif %}          
    </h4>
    <hr class="border-secondary border-2">

    <div class="slideshow-container" >
        {% for image in images %}
            <div class="mySlides mySlidesfade">
                <div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
                <img src="{{ image[0] }}" style="width:100%" alt="{{ image[1] }}">
                <div class="image-caption">{{ image[1] }}</div>
            </div>
        {% endfor %} 
        <a class="prev-slide" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next-slide" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <div style="text-align:center">
        {% for image in images %}
            <span class="slideDot" {% if loop.index == 1 %} id="openSlideShow" {% endif %} onclick="currentSlide({{ loop.index }})"></span>
        {% endfor %}
    </div> 
        
    <h5>Scientific name: <i>{{ guide[1]}}</i><h5>
    <br>
    <p>{% if guide[3] == "yes" %} Present in NZ {% else %} Not present in NZ {% endif %}</p>
    <br>

    <h5>Description</h5>
    <p>{{ guide[4] }}</p>
    <br>

    {% if guide[5] != "" %}
        <h5>Why is it a problem?</h5>
        <p>{{ guide[5] }}</p>
        <br>
    {% endif %}

    {% if guide[6] != "" %}
        <h5>What do they look like?</h5> 
        <p>{{ guide[6] }}</p>
        <br>
    {% endif %}

    {% if guide[7] != "" %}
        <h5>Where can they be found?</h5> 
        <p>{{ guide[7] }}</p> 
    {% endif %}

    <div class="pb-3">
        <a href="{% if user_role == 'admin' %}{{ url_for('adminGuideList') }}{% elif user_role == 'staff' %}{{ url_for('staffGuideList') }}{% elif user_role == 'mariner' %}{{ url_for('marinerHome') }}{% endif %}" role="button" class="btn btn-info text-light"><i class="fa-solid fa-ship"></i> Back</a>
    </div>
    

</div>

{% if user_role == 'mariner' %}
    <footer>
        <div class="container-fluid mt-auto py-3" style="background-color: #468AC6 !important;">
        <P class="d-flex justify-content-center text-light">Thank you for visiting our website. We endeavour to keep the information on the website as accurate as possible.<p>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="{{ url_for('sourcesOfContentMaterial') }}" class="dashboard-link px-2 text-light">Click me to find out references of the content material <i class="fa-regular fa-face-smile"></i></a></li>
        </div>
    </footer>
{% endif %}

{% endblock %}