{% extends "base1.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<div id="main-body">
  
  <button class="guidelink" onclick="openPage('pest_in_nz', this, '#f6c986')">Pest in NZ</button>
  <button class="guidelink" onclick="openPage('disease_in_nz', this, '#dfb4b4')" >Disease in NZ</button>
  <button class="guidelink" onclick="openPage('pest_not_in_nz', this, '#d6c876')" id="defaultOpen">Pest not in NZ</button>
  <button class="guidelink" onclick="openPage('disease_not_in_nz', this, '#B6A6CA')">Disease not in NZ</button>
  
  <div id="pest_in_nz" class="guidecontent">
    <div class="row">
      {% for pest in pest_in_nz %}
        <div class="col-3 mb-3"> 
          <div class="card h-100">
            {% if user_role == 'admin' %}
              <a href="/admin/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">
            {% elif user_role == 'staff' %}
              <a href="/staff/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">
            {% else %}  
              <a href="/user/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">      
            {% endif %}
                <img src="{{ pest[3] }}" class="card-img-top img-fluid" style="width:100%; height:100%;" alt="{{ pest[1] }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ pest[1] }}</h5>
              <p class="card-text">Present in NZ</p>
              {% if user_role == 'admin' %}
                <a href="/admin/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>
              {% elif user_role == 'staff' %}
                <a href="/staff/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>
              {% else %}  
                <a href="/user/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>     
              {% endif %}
            </div>            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  
  <div id="disease_in_nz" class="guidecontent">
    <div class="row">
      {% for disease in disease_in_nz %}
        <div class="col-3 mb-3"> 
          <div class="card h-100">  
            {% if user_role == 'admin' %}
              <a href="/admin/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">
            {% elif user_role == 'staff' %}
              <a href="/staff/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">
            {% else %}  
              <a href="/user/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">      
            {% endif %}
                <img src="{{ disease[3] }}" class="card-img-top img-fluid" style="width:100%; height:100%;" alt="{{ disease[1] }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ disease [1] }}</h5>
              <p class="card-text">Present in NZ</p>
              {% if user_role == 'admin' %}
                <a href="/admin/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>
              {% elif user_role == 'staff' %}
                <a href="/staff/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>
              {% else %}  
                <a href="/user/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>  
              {% endif %}
            </div>            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div id="pest_not_in_nz" class="guidecontent">
    <div class="row">
      {% for pest in pest_not_in_nz %}
        <div class="col-3 mb-3"> 
          <div class="card h-100">  
          {% if user_role == 'admin' %}
            <a href="/admin/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">
          {% elif user_role == 'staff' %}
            <a href="/staff/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">
          {% else %}  
            <a href="/user/guidedetails/{{pest[0]}}" style="display: block; height: 100%;">      
          {% endif %}
              <img src="{{ pest[3] }}" class="card-img-top img-fluid" style="width:100%; height:100%;" alt="{{ pest[1] }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ pest[1] }}</h5>
              <p class="card-text">Not found to be in NZ yet</p>
              {% if user_role == 'admin' %}
                <a href="/admin/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>
              {% elif user_role == 'staff' %}
                <a href="/staff/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>
              {% else %}  
                <a href="/user/guidedetails/{{pest[0]}}" class="btn btn-outline-warning">More</a>
              {% endif %}
            </div>            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <div id="disease_not_in_nz" class="guidecontent">
    <div class="row">
      {% for disease in disease_not_in_nz %}
        <div class="col-3 mb-3"> 
          <div class="card h-100">
          {% if user_role == 'admin' %}
            <a href="/admin/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">
          {% elif user_role == 'staff' %}
            <a href="/staff/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">
          {% else %}  
            <a href="/user/guidedetails/{{disease[0]}}" style="display: block; height: 100%;">      
          {% endif %}          
              <img src="{{ disease[3] }}" class="card-img-top img-fluid" style="width:100%; height:100%;" alt="{{ disease[1] }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ disease [1] }}</h5>
              <p class="card-text">Not found to be in NZ yet</p>
              {% if user_role == 'admin' %}
              <a href="/admin/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>
              {% elif user_role == 'staff' %}
                <a href="/staff/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>
              {% else %}  
                <a href="/user/guidedetails/{{disease[0]}}" class="btn btn-outline-danger">More</a>  
              {% endif %}
            </div>            
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>


{% endblock %}