{% extends "base1.html" %}
{% block title %} My profile {% endblock %}

{% block content %}

<div id="main-body" class="container-md"> 

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-user-large"></i> My Profile</h4>
    <hr class="border-secondary border-2">

    <a href="{{ url_for('editMarinerProfile') }}" role="button" class="btn btn-info text-light">
        <i class="fa-solid fa-pen-to-square"></i> Edit my profile
    </a> 
    
    <table class="table table-borderless">
        <tr><th style="width:25%">Username</th><td>{{ profile[0] }}</td></tr>
        <tr><th>First name</th><td>{{ profile[1] }}</td></tr>
        <tr><th>Last name</th><td>{{ profile[2] }}</td></tr>
        <tr><th>Email</th><td>{{ profile[3] }}</td></tr>
        <tr><th>Phone</th><td>{{ profile[4] }}</td></tr>
        <tr><th>Address</th><td>{{ profile[5] }}</td></tr>
        <tr><th>Date Joined</th><td>{{ profile[6] }}</td></tr>
    </table>

</div>

{% endblock %}