{% extends "base1.html" %}
{% block title %} Sources Of Content Material {% endblock %}

{% block content %}

<div class="container-fluid" style="background-image: url('/static/img/iStock-1400881310.jpg'); height: 100%; width: 100%; position: fixed; background-position: center center; background-size: 100% 100%; display: block;">

  <div class="container-sm"> 

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-book-open-reader"></i> References</h4>
        <hr class="border-secondary border-2"> 
      
        <div>
          <a class="nav-link dashboard-link" href="https://doi.org/10.3354/dao03750" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://doi.org/10.3354/dao03750</a> 
          <a class="nav-link dashboard-link" href="https://www.marinebiosecurity.org.nz/what-are-marine-pests/" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://www.marinebiosecurity.org.nz/what-are-marine-pests/</a>
          <a class="nav-link dashboard-link" href="https://www.marinebiosecurity.co.nz/images/archive/2013/marine-pest-id-guide-2013.pdf" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://www.marinebiosecurity.co.nz/images/archive/2013/marine-pest-id-guide-2013.pdf</a>
          <a class="nav-link dashboard-link" href="https://niwa.co.nz/coasts-and-estuaries/our-services/marine-biosecurity" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://niwa.co.nz/coasts-and-estuaries/our-services/marine-biosecurity</a>
          <a class="nav-link dashboard-link" href="https://niwa.co.nz/news/questions-and-answers-about-oyster-disease-bonamia-ostreae" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://niwa.co.nz/news/questions-and-answers-about-oyster-disease-bonamia-ostreae</a>
          <a class="nav-link dashboard-link" href="https://www.mpi.govt.nz/biosecurity/pests-and-diseases-not-in-new-zealand/ocean-pests-and-diseases-not-in-nz/" target="_blank">
            <i class="fa-solid fa-circle-info"></i> https://www.mpi.govt.nz/biosecurity/pests-and-diseases-not-in-new-zealand/ocean-pests-and-diseases-not-in-nz/</a>
          <a class="nav-link dashboard-link" href=" https://www.mpi.govt.nz/biosecurity/exotic-pests-and-diseases-in-new-zealand/long-term-biosecurity-management-programmes/bonamia-ostreae-parasite-threat-to-flat-oysters/" target="_blank">
            <i class="fa-solid fa-circle-info"></i>  https://www.mpi.govt.nz/biosecurity/exotic-pests-and-diseases-in-new-zealand/long-term-biosecurity-management-programmes/bonamia-ostreae-parasite-threat-to-flat-oysters/</a>               
        </div>
           
  </div>

</div>


{% endblock %}