{% extends "base1.html" %}
{% block title %} Staff List {% endblock %}

{% block content %}

<div class="container-sm"> 

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-user-group"></i> Staff List</h4>
        <hr class="border-secondary border-2">

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Staff ID</th>  
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Work Phone</th>
                <th>Email</th> 
                <th>Hire Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for staff in all_staff %}
            <tr>
                <td>{{ staff[0] }}</td>
                <td>{{ staff[1] }}</td>
                <td>{{ staff[2] }}</td>
                <td>{{ staff[5] }}</td>
                <td>{{ staff[6] }}</td>
                <td>{{ staff[4] }}</td>
                <td>{{ staff[3] }}</td>
                <td>{{ staff[7] }}</td>
                <td>{% if staff[8] == 1 %} Active {% else %} Inactive {% endif %}</td>
                <td>
                <a href="/admin/staff/edit/{{ staff[0] }}"><i class="fa-regular fa-pen-to-square me-1"></i></a>                
                
                {% if staff[8] == 1 %} 
                <a href="/admin/staff/inactivate/{{ staff[0] }}" 
                data-bs-toggle="modal" 
                data-bs-target="#inactivateStaffModal" 
                data-inactivate-id="{{ staff[0] }}">              
                <i class="fa-solid fa-ban me-1"></i></a>
             
                {% else %}
                <a href="/admin/staff/reactivate/{{ staff[0] }}" 
                data-bs-toggle="modal"
                data-bs-target="#reactivateStaffModal" 
                data-reactivate-id="{{ staff[0] }}">
                <i class="fa-solid fa-rotate-right me-1"></i></a>
                
                {% endif %}
                <a href="/admin/staff/delete/{{ staff[9] }}" 
                data-bs-toggle="modal"
                data-bs-target="#deleteStaffModal" 
                data-delete-id="{{ staff[9] }}">
                <i class="fa-solid fa-xmark"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal fade" id="inactivateStaffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-circle-exclamation"></i> Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to inactivate this staff? <br>
              Once inactivated, this staff cannot access the website anymore.
            </div>
            <form id="inactivateStaff" action="/admin/staff/inactivate/staff_id" method="post">
              <div class="modal-footer">
                <button type="submit" class="btn btn-info text-light">Continue</button>              
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
          </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="reactivateStaffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-circle-exclamation"></i> Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to reactivate this staff to access the website again?         
            </div>
            <form id="reactivateStaff" action="/admin/staff/reactivate/staff_id" method="post">
              <div class="modal-footer">
                <button type="submit" class="btn btn-info text-light">Continue</button>              
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
          </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="deleteStaffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa-solid fa-circle-exclamation"></i> Confirmation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to permanently delete this staff?<br>
              Once deleted, related data cannot be recovered.          
            </div>
            <form id="deleteStaff" action="/admin/staff/delete/user_id" method="post">
              <div class="modal-footer">
                <button type="submit" class="btn btn-info text-light">Continue</button>              
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
          </form>
          </div>
        </div>
      </div>  
      
  </div>

{% endblock %}