  .navbar {
    min-height: 80px;
  }

  .login-img {
    background-image: url("/static/img/iStock-1307276976.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;  
    width: 100%;
    height: 100%;
  }

  .login-container {
    position: absolute;
    right: 20px;
    margin: 20px;
    min-width: 20%;
    max-width: 50%;    
    padding: 16px;
    background-color: white;
  }

  h1, h2, h3, h4, h5 {
    font-family: "Oswald", sans-serif;
    color: #468AC6;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }       

  body, html {
    height: 100%;
    margin: 0;
    padding:0;
    font-family: Arial;
  }
  
  /* styling for tab links on the home page */
  .guidelink {
    background-color: #979ea8;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    width: 25%;
  }
  
   /* styling for tab links on the home page */
  .guidelink:hover {
    background-color:#b7babe;
  }
  
  /* styling for tab content on the home page */
  .guidecontent {
    color:white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  /* styling for background colors of tabs on the home page */
  #pest_in_nz {background-color:#f6c986;}
  #disease_in_nz {background-color: #dfb4b4;}
  #pest_not_in_nz {background-color: #d6c876;}
  #disease_not_in_nz {background-color:#B6A6CA;}

  /* change the color of bootstrap button */
  .btn-info {
    background-color: #468AC6 !important; /* Background color */
    border-color: #468AC6 !important; /* Border color */
  }


  .btn-info:hover {
    background-color: #569fe0 !important; /* Change background color on hover */
    border-color: #569fe0 !important; /* Change border color on hover */
  }

  .btn-info:active, .btn-info:visited {
    background-color: #3978af !important; /* Change background color on active */
    border-color: #3978af !important; /* Change border color on active */
  }

  a.btn-info:hover {
    background-color: #569fe0 !important; /* Change background color on hover */
    border-color: #569fe0 !important; /* Change border color on hover */
  }  

  .btn-outline-warning:hover {
    color: white !important; /* Set the desired light color for text on hover */
}

 /* change the background color of bootstrap dropdown menu */
.dropdown-menu a:hover {background-color: #f2f3f5 !important}

.dashboard-link {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.dashboard-link:hover {
  color: #818181;
  text-decoration: underline; 
}

/* change the color of bootstrap tooltip */
:root{
  --tooltip-color: #fcce14;}

.color-tooltip > .tooltip-inner {background-color: var(--tooltip-color);}
.color-tooltip.bs-tooltip-bottom > .tooltip-arrow::before, .color-tooltip.bs-tooltip-auto[data-popper-placement^=bottom] > .tooltip-arrow::before {border-bottom-color: var(--tooltip-color);}
.color-tooltip.bs-tooltip-top > .tooltip-arrow::before, .color-tooltip.bs-tooltip-auto[data-popper-placement^=top] > .tooltip-arrow::before {border-top-color: var(--tooltip-color);}
.color-tooltip.bs-tooltip-start > .tooltip-arrow::before, .color-tooltip.bs-tooltip-auto[data-popper-placement^=left] > .tooltip-arrow::before {border-left-color: var(--tooltip-color);}
.color-tooltip.bs-tooltip-end > .tooltip-arrow::before, .color-tooltip.bs-tooltip-auto[data-popper-placement^=right] > .tooltip-arrow::before {border-right-color: var(--tooltip-color);}


/* styling for the slideshow */
* {box-sizing: border-box}
.mySlides {display: none}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev-slide, .next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-slide {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-slide:hover, .next-slide:hover {
  background-color: rgba(0,0,0,0.8);
}

.image-caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .slideDot:hover {
  background-color: #717171;
}

.mySlidesfade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev-slide, .next-slide,.image-caption {font-size: 11px}
}