{% extends "base1.html" %}
{% block title %} Change Passward {% endblock %}


{% block content %}

<div id="main-body" class="container-md">

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-unlock-keyhole"></i> Change Password</h4>
        <hr class="border-secondary border-2">

    <form class="row g-3 pb-3" action="{% if user_role == 'admin' %}{{ url_for('adminChangePassword') }}{% elif user_role == 'staff' %}{{ url_for('staffChangePassword') }}{% elif user_role == 'mariner' %}{{ url_for('marinerChangePassword') }}{% endif %}" method="post">
        <div class="col-sm-12">
            <label for="old_password" class="form-label">Old password</label>
            <input type="password" name="old_password" id="old_password" class="form-control" required>
        </div>
        <div class="col-sm-12">
            <label for="new_password" class="form-label">New password</label>
            <input type="password" id="new_password" name="new_password" class="form-control" oninput="checkPassword()" required>
        </div>
        <div class="col-sm-12">
            <label for="confirm_password" class="form-label">Confirm new password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" oninput="checkPassword()" required>
        </div>
        <div class="col-sm-12">
            <span id="msg"></span>
        </div>
        <div class="d-grid gap-2 col-sm-6">
            <button type="submit" id="to_be_activated" class="btn btn-info text-light" disabled>Submit</button>
        </div>
        <div class="d-grid gap-2 col-sm-6">
            <a href="{% if user_role == 'admin' %}{{ url_for('adminHome') }}{% elif user_role == 'staff' %}{{ url_for('staffHome') }}{% elif user_role == 'mariner' %}{{ url_for('marinerHome') }}{% endif %}" role="button" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
  
</div>

{% endblock %}


