{% extends "base1.html" %}
{% block title %} Update Guide Details {% endblock %}

{% block content %}

<div id="main-body" class="container-md"> 

    <h4 class="offcanvas-title pt-3"><i class="fa-solid fa-file-pen"></i> Update Guide Details</h4>
        <hr class="border-secondary border-2">
    
    {% if user_role == 'admin' %}
        <form class="row g-3" action="/admin/guide/edit/{{guide[0]}}" method="post">
    {% elif user_role == 'staff' %}
        <form class="row g-3" action="/staff/guide/edit/{{guide[0]}}" method="post">
    {% endif %}    
        <div class="col-sm-6">
            <label for="common_name" class="form-label">Common Name</label>
            <input type="text" name="common_name" class="form-control" value ="{{guide[3]}}" required>
        </div>

        <div class="col-sm-6">
            <label for="scientific_name" class="form-label">Scientific Name</label>
            <input type="text" name="scientific_name" class="form-control" value ="{{guide[4]}}" required>
        </div>

        <div class="col-sm-6">
          <label for="ocean_item_type" class="form-label">Ocean Item Type</label>
          <select name="ocean_item_type" class="form-select" required>
              <option value="" disabled>Choose...</option>
              {% if guide[1] == 'pest' %}
                <option value="pest" selected>Pest</option>
                <option value="disease">Disease</option>
              {% else %}
                <option value="pest">Pest</option>
                <option value="disease" selected>Disease</option>
              {% endif %}
          </select>
        </div>

        <div class="col-sm-6">
            <label for="present_in_NZ" class="form-label">Present in NZ</label>
            <select name="present_in_NZ" class="form-select" required>
                <option value="" disabled>Choose...</option>
                {% if guide[2] == 'yes' %}
                    <option value="yes" selected>Yes</option>
                    <option value="no">No</option>
                {% else %}
                    <option value="yes">Yes</option>
                    <option value="no" selected>No</option>
                {% endif %}
            </select>
        </div>

        <div class="col-sm-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" rows="5" required>{{guide[5]}}</textarea>
        </div>

        <div class="col-sm-12">
            <label for="threats" class="form-label">Threats</label>
            <textarea name="threats" class="form-control" rows="5" required>{{guide[6]}}</textarea>
        </div>

        <div class="col-sm-12">
            <label for="key_characteristics" class="form-label">Key Characteristics</label>
            <textarea name="key_characteristics" class="form-control" rows="5" required>{{guide[7]}}</textarea>
        </div>

        <div class="col-sm-12">
            <label for="location" class="form-label">Location</label>
            <textarea name="location" class="form-control" rows="5" required>{{guide[8]}}</textarea>
        </div>

        <div class="col-12">
            <label for="primary_image" class="form-label">Primary Image</label>
            <select name="primary_image" class="form-select" required>
                <option value="" disabled>Choose...</option>
                {% for image in images %}                
                    <option value="{{image[1]}}">{{image[1]}}</option>
                {% endfor %}
            </select>
        </div> 

        <div class="d-grid gap-2 col-6 mt-3 mb-3">
          <button type="submit" class="btn btn-info text-light">Update</button>
        </div>
        <div class="d-grid gap-2 col-6 mt-3 mb-3">
          <a href="{% if user_role == 'admin' %}{{ url_for('adminGuideList') }}{% elif user_role == 'staff' %}{{ url_for('staffGuideList') }}{% endif %}" role="button" class="btn btn-secondary">Cancel</a>
        </div>

    </form>


</div>

{% endblock %}